[Unit]
Description=Template
Requires=template.socket
After=network.target

[Service]
ExecStart=/home/ovior/projects/cortev/target/release/http
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TimeoutStopSec=10
KillMode=process
Sockets=template.socket

[Install]
WantedBy=multi-user.target
